*
  margin 0;
  padding 0;
  box-sizing border-box;
html 
  font-family "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size 14px;
  -webkit-font-smoothing: antialiased;
  background-color bg-light-color;
  font-weight 400;
html,
body
  height 100%;
  color font-color;

a
  text-decoration none;
  color font-color;
img
  max-width 100%;
  max-height 100%;


  
