// color
font-color = #252525;
bg-light-color = #fafafa;
primary-color = #fdd800;

// width
page-max-width = 1440px;

// mixin
link()
  color font-color;
  &-active
    color primary-color;
block-center()
  margin-left auto;
  margin-right auto;