.fe-header
  page-block();
  height 108px;
  line-height 60px;
  position relative;
  &-left
    display inline-block;
    min-width 200px
  &-right
    position absolute;
    right 0;
    top 48px;
.fe-logo
  display inline-block;
  padding 48px 16px 0;
  font-size 24px;
  background-color dark-color;
  color white-color;
  font-weight 700;
  &-fe
    color primary-color;